# OS / IDE
.DS_Store
.idea/
.vscode/
Thumbs.db

# Ignore backup files
*~
*.swp
*.bak

# Environment files
.env
.env.*
!.env.example

# Vendor (komt straks via composer)
vendor/

# DDEV but only add example file
# Ignore everything in .ddev
.ddev/*

# Allow the folder itself
!.ddev/

# Allow example config file
!.ddev/config.example.yaml

# Node
node_modules/

# Cache / logs
var/