# OS / IDE
.DS_Store
.idea/
.vscode/
Thumbs.db

# Ignore backup files
*~
*.swp
*.bak

# Environment files
.env
.env.*
!.env.example

# Vendor (komt straks via composer)
vendor/

# Node
node_modules/

# Cache / logs
var/